form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 1s ease-in-out;
    position: relative;
}

form:focus-within {
    box-shadow: 0 0 20px #333;
}

@keyframes pulsate {
    from {
        box-shadow: 0 0 10px #333;
    }

    to {
        box-shadow: 0 0 20px #333;
    }
}

form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

form .form-group input,
form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form .form-group button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.3s ease;
    overflow: hidden;
    box-sizing: border-box;
}

form .form-group button:hover {
    background: #555;
    transform: scale(1.05);
}

form .form-group input:focus,
form .form-group textarea:focus {
    outline: none;
    border-color: #333;
    animation: typing 0.7s ease-in-out infinite;
}

@keyframes typing {
    0% {
        box-shadow: 0 0 5px #333;
    }

    100% {
        box-shadow: 0 0 10px #333;
    }
}

.note-link {
    margin-top: 10px;
    text-align: center;
}

.note-link .btn {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #007bff;
    transition: background 0.3s ease, transform 0.3s ease;
    font-weight: bold;
}

.note-link .btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.note-link .btn::before {
    content: "\f06e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
    animation: fadeIn 1s ease-in-out;
}
