body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background 0.3s ease;
}

body.dimmed {
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.footer-content {
    margin: 0 auto;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s ease;
}

.footer-content a:hover {
    color: #aaa;
}
