{% extends "base.html" %} {% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
<div class="container mt-5 content-container home-container">
    <div class="text-center">
        <h1 class="animate__animated animate__fadeIn">Welcome to SafeNotes</h1>
        <p class="animate__animated animate__fadeIn">
            SafeNotes is your secure place to create, store, and share notes.
            Whether you need to keep personal thoughts or share important
            information with others, SafeNotes ensures your notes are safe and
            accessible.
        </p>
    </div>

    <div class="row mt-4 animate__animated animate__zoomIn justify-content-center">
        <div class="col-md-4 text-center">
            <h2 class="animate__animated animate__fadeIn">Create Notes</h2>
            <p class="subtitle">Easily create and store your notes securely.</p>
            <img src="{{ url_for('static', filename='images/create_note.png') }}" alt="Create Note"
                class="home-image img-fluid rounded shadow-sm" />
        </div>
        <div class="col-md-4 text-center mt-4">
            <h2 class="animate__animated animate__fadeIn">View Notes</h2>
            <p class="subtitle">
                Access your notes anytime with the unique Note ID.
            </p>
            <img src="{{ url_for('static', filename='images/view_note.png') }}" alt="View Note"
                class="home-image img-fluid rounded shadow-sm" />
        </div>
        <div class="col-md-4 text-center mt-4">
            <h2 class="animate__animated animate__fadeIn">Report Notes</h2>
            <p class="subtitle">
                Report any notes that violate our terms for review.
            </p>
            <img src="{{ url_for('static', filename='images/report_note.png') }}" alt="Report Note"
                class="home-image img-fluid rounded shadow-sm" />
        </div>
    </div>

    <div class="text-center mt-5 animate__animated animate__fadeInUp home-buttons">
        <a href="{{ url_for('main.create_note') }}" class="btn btn-primary btn-lg mx-2">
            <i class="fas fa-plus"></i>Create Note</a>
        <a href="{{ url_for('main.view_note') }}" class="btn btn-secondary btn-lg mx-2">
            <i class="fas fa-eye"></i>View Note</a>
        <a href="{{ url_for('main.report') }}" class="btn btn-warning btn-lg mx-2">
            <i class="fas fa-exclamation-triangle"></i>Report a Note</a>
        <a href="{{ url_for('main.contact') }}" class="btn btn-info btn-lg mx-2">
            <i class="fas fa-envelope"></i>Contact Us</a>
    </div>
</div>
{% endblock %}