{% extends "base.html" %} {% block content %}
<h2 class="note-form">Login</h2>
<form method="POST" class="note-form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }} {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
<p>
    Need an account? <a href="{{ url_for('main.register') }}">Register here</a>
</p>
{% endblock %}