body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #000000, #1a1a1a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
}

.title {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
}

.highlight {
    color: #ff0000;
}

.input-field {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: #006400;
    border: 2px solid lime;
    color: #fff;
    box-shadow: 0 0 10px lime;
    margin: 20px auto;
    outline: none;
    transition: color 0.3s, box-shadow 0.3s;
    animation: glow 1.5s infinite alternate;
}

.input-field:focus {
    box-shadow: 0 0 15px lime;
    outline: none;
    background-color: #004d00;
    color: white;
}

.input-field::placeholder {
    color: #98fb98;
    opacity: 1;
}

.submit-btn {
    padding: 10px 30px;
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
    background-color: #ff0000;
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
    transform: none;
}

.submit-btn:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}
.logo {
    max-width: 150px;
    margin: 20px 0;
}

.greeting-output {
    margin-top: 20px;
    background-color: #1a1a1a;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    word-wrap: break-word;
}

.greeting-output.error {
    color: red;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px lime;
    }
    to {
        box-shadow: 0 0 15px lime;
    }
}
